* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
  font-family: arial;
  font-size: 18px;
}

/****  Header  ****/

.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	
// DEMO LAYOUT CODE
.nav {
	background: #000000;
	&__title {
		margin: 0px 30px;
	}
	&__item {
		display: inline-block;
  		margin: 0px 30px;
	}
  }
}
.container {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    
  
  .allitem {
    width: 90%;
    max-width: 1240px;
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    
    @media (min-width: 30em) {
      grid-template-columns: 1fr 1fr;
    }
    
    @media (min-width: 60em) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    background: white;
    text-decoration: none;
    color: #444;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    // sets up hover state
    position: relative;
    top: 0;
    
      
    
    article {
      padding: 15px;
      display: flex;
      flex-direction: column;
    }
    
    .name {
      font-size: 20px;
      margin: 0;
      color: #333;
    }

    .price{

      font-size: 15px;
      margin-top: 0.2rem;
      color: #333;
      
      }
    
    .describe{
      flex: 1;
      line-height: 1.4;
      font-size: 15px;
      color: #999;
    }
    
    .url {
      padding: 50%;
      background-size: cover;
      background-position: center center;
    }
  }
} 
.footer {
  font-size: 30px;
  color: white;
  background-color:#000000;
  .item{
    font-size: 15px;
    display: flex;
  }
  .insideitem{
    font-size: 15px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
  }
} 
